
.form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #ffffff;
    padding-bottom: 200px;
  }
  
  .form-container .form-box {
    margin-top: 150px;
    height: 500px; 
    width: 580px;
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .form-info {
    padding: 15px;
    font-size: 14px; /* 작은 글씨 크기 */
    color: #666;
    margin-bottom: 15px; /* 버튼과 간격 조정 */
    white-space: pre-line; /* 줄바꿈과 공백을 유지 */
  }
  
  .kakao-button {
    padding-top: 80px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .kakao-button-image {
    width: 100%; /* 버튼 이미지가 버튼 너비에 맞게 */
    max-width: 300px; /* 최대 너비 제한 */
    height: auto;
  }
  
  .form-footer {
    font-size: 14px;
    color: #888;
  }
  
  .form-footer a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }